.text {
  z-index: 3;
  position: absolute;
  font-size: 10vmin;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  text-shadow: #000 0.5vmin 0.5vmin 0, #000 -0.5vmin -0.5vmin 0;
}
