.wrapper {
  z-index: 1;
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  font-size: 25px;
  color: #fff;
  text-align: center;
  margin: 0 auto 25px;
  width: 240px;
}

.image {
  display: block;
  margin: 0 auto;
  width: 264px;
}
