.list {
  z-index: 3;
  position: absolute;
  left: 10px;
  bottom: 10px;
  display: inline-grid;
  column-gap: 5px;
  grid-template-columns: 1fr 1fr 1fr;
}

.image,
.blankSlot {
  width: 40px;
  height: 60px;
  line-height: 60px;
  display: block;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.25);
  box-sizing: border-box;
}

.blankSlot {
  background: rgba(255, 255, 255, 0.25);
  text-align: center;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.image {
  object-fit: cover;
}
